* {
    font-family: Arial;
}
body {
    margin: 0 auto;
    background: url(img/atl.png) no-repeat center top fixed;
    background-size: contain;
}
.header {
    color: white;
    text-align: right;
    padding-top: 0px;
    margin-top: 0px;
}
.header > h4{
    color: white;
    padding: 60px;
    cursor: pointer;
}
.title {
    text-align: center;
}
.title > h1 {
    color: white;
    font-size: 75px;
    font-family: 'Arial Narrow';
}
.title > h3 {
    color:rgb(185, 185, 185)
}
.main {
    background-color: rgb(238, 238, 238);
    margin: auto auto; 
    color: rgb(43, 42, 42);
    text-align: center;
    font-size: 25px;
}
.mainText > h2 {
    display: inline;
    margin: 5.4%; 
    font-size: 40px;
}
.mainText2 > p {
    display: inline-block;
    font-size: 20px;
    width: 17%;
    height: 30%;
    padding: 2% 2% 2% 2%;
}
.main > img{
    padding-top: 30px;
    padding-left: 5%;
    padding-right: 5%;
    padding-bottom: 20px;
}
.footer {
    background-color: rgb(36, 35, 35);
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 5px;
    text-align: center;
    color: grey;
}
.footer > h4 {
    cursor: pointer;
}
.footer > h5 {
    color: grey;
    opacity: 60%;
}